<!DOCTYPE html>
<html>
  <head>
  <title><%# full_title(yield(:title)) %>Clock+</title>
    <%= csrf_meta_tags %>
    
    <script src="https://kit.fontawesome.com/dac8480acd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
    <%= render 'layouts/shim' %>
   
  </head>

  <body>
	  <!-- Hero head: will stick at the top -->
    <%= render 'layouts/header' %>
    <section>
    <div class="modeIndexDiv"  style="float:left">
    <%= render 'layouts/modeIndex' %>
    </div>
    <%= yield %>
    
   
    
    <div class="colorTheme" style="float:right">
    <%= render 'layouts/colorTheme' %>
    
    </div>
    </section>
    
    <%= render 'layouts/footer' %>
    
  </body>
</html>