<!DOCTYPE html>
<html>
  <head>
  <title><%# full_title(yield(:title)) %>Clock+</title>
    <%= csrf_meta_tags %>
    
    <script src="https://kit.fontawesome.com/dac8480acd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
    <%= render 'layouts/shim' %>
  </head>

  <body>
  jksfdbjbj
    <!-- Hero head: will stick at the top -->
    <section>
    <%= render 'layouts/header' %>
    </section>
    
    <section>
    <%= render 'layouts/footer' %>
    </section>
  </body>
</html>